# Project exclude paths
/application-base-js-master/support/domHelper.js
/application-base-js-master/support/domHelper.js.map
/application-base-js-master/support/itemUtils.js
/application-base-js-master/support/itemUtils.js.map
/application-base-js-master/support/urlUtils.js
/application-base-js-master/support/urlUtils.js.map
/application-base-js-master/ApplicationBase.js
/application-base-js-master/ApplicationBase.js.map