:root {
  --drawer-width : -380px;
}

@media (prefers-color-scheme : dark) {
  :root {
    --theme-text-color                 : #e8912e;
    --theme-background-color           : #333333;
    --theme-background-alt-color       : #222222;
    --theme-highlight-text-color       : rgba(230, 135, 46, 0.2);
    --theme-highlight-background-color : darkgoldenrod;
    --theme-highlight-border-color     : lightyellow;
  }

  .dark-hide {
    display : none;
  }

}

@media (prefers-color-scheme : light) {
  :root {
    --theme-text-color                 : #155e93; /* e8912e */
    --theme-background-color           : #f8f8f8;
    --theme-background-alt-color       : #f8f8f8;
    --theme-highlight-text-color       : #e9f0f5;
    --theme-highlight-background-color : #d3e9f8;
    --theme-highlight-border-color     : #1f79be;
  }

  .light-hide {
    display : none;
  }

}

html,
body {
  margin                   : 0;
  padding                  : 0;
  width                    : 100%;
  height                   : 100%;
  font-size                : 100%;
  -webkit-text-size-adjust : 100%;
  -moz-text-size-adjust    : 100%;
  -ms-text-size-adjust     : 100%;
  font-family              : 'Avenir Next', 'Helvetica Nue', sans-serif;
}

body {
  display          : flex;
  flex-direction   : column;
  background-color : var(--theme-background-color);
}

body * {
  outline : none;
}

.content-row {
  display         : flex;
  flex-direction  : row;
  justify-content : space-between;
  align-items     : center;
}

.content-row:after {
  content : unset;
}

.content-row select {
  display : inline-flex !important;
  width   : 100% !important;
}

.content-col {
  display         : flex;
  flex-direction  : column;
  justify-content : space-between;
}

#header-panel {
  z-index          : 101;
  flex-grow        : 0;
  flex-shrink      : 0;
  background-color : var(--theme-background-color);
  box-shadow       : 0 1px 2px rgba(0, 0, 0, 0.3);
}

.header-text,
.text-theme {
  color : var(--theme-text-color);
}

.top-nav-link:hover,
.top-nav-link:focus {
  color               : var(--theme-text-color);
  border-bottom-color : var(--theme-text-color);
}

#user-thumb-node {
  height         : 36px;
  border-radius  : 18px;
  vertical-align : middle;
}

.esri-widget--button {
  color            : var(--theme-text-color) !important;
  background-color : var(--theme-background-color) !important;
}

.esri-attribution {
  color            : var(--theme-text-color) !important;
  background-color : var(--theme-background-color) !important;
}

.drawer.is-active.drawer-right .drawer-nav {
  -webkit-transform : translate3d(var(--drawer-width), 0, 0);
  -moz-transform    : translate3d(var(--drawer-width), 0, 0);
  -ms-transform     : translate3d(var(--drawer-width), 0, 0);
  -o-transform      : translate3d(var(--drawer-width), 0, 0);
  transform         : translate3d(var(--drawer-width), 0, 0);
}

.drawer-nav {
  width : calc(var(--drawer-width) * -1);
}

#main-container {
  flex-grow      : 1;
  flex-shrink    : 1;
  min-width      : 0;
  min-height     : 0;
  display        : flex;
  flex-direction : row;
  /*justify-content : space-between;*/
}

#options-container {
  flex-grow      : 0;
  flex-shrink    : 0;
  min-width      : 0;
  min-height     : 0;
  display        : flex;
  flex-direction : column;
}

.radio-group-label {
  height  : unset;
  padding : 0.25rem 0.5rem;
}

.radio-group-input:checked + .radio-group-label {
  background-color : var(--theme-highlight-background-color);
  border           : 1px solid var(--theme-highlight-border-color);
}

#selectors-container {
  margin-right : 5px;
}

.filter-selector {
  cursor           : pointer;
  font-size        : 8pt;
  padding          : 2px 4px;
  margin-right     : 4px;
  background-color : var(--theme-highlight-background-color);
  border           : solid 1px var(--theme-highlight-border-color);
}

.filter-selector:hover {
  color            : silver;
  background-color : transparent;
  border-color     : silver;
}

.accordion-title,
.accordion-title:focus,
.accordion-title:hover {
  background-color : var(--theme-background-alt-color);
}

.side-nav-title {
  border-top : none;
}

#missions-container {
  flex-shrink    : 1;
  flex-grow      : 1;
  min-width      : 0;
  min-height     : 0;
  display        : flex;
  flex-direction : column;
}

#missions-label {
  justify-content : space-around;
  margin-right    : 15px;
}

#missions-list {
  flex-shrink    : 1;
  flex-grow      : 1;
  min-width      : 0;
  min-height     : 0;
  display        : flex;
  flex-direction : column;
  overflow-y     : auto;
}

#missions-list:empty {
  text-align  : center;
  padding-top : 2rem;
  font-size   : 2rem;
  font-style  : italic;
  color       : silver;
}

#missions-list:empty:after {
  content : 'Loading flights details...';
}

#left-container {
  flex-grow       : 0;
  flex-shrink     : 0;
  min-width       : 0;
  min-height      : 0;
  display         : flex;
  flex-direction  : column;
  justify-content : space-between;
}

#view-container {
  flex-shrink    : 1;
  flex-grow      : 1;
  min-width      : 0;
  min-height     : 0;
  display        : inline-flex;
  flex-direction : row;
}

.view-container {
  width      : 100%;
  height     : 100%;
  min-width  : 0;
  min-height : 0;
  transition : opacity 1.5s linear;
}

.view-container.view-active {
  z-index : 99;
  width   : 100%;
  /*transition : all 1s linear;*/
}

.view-container:not(.view-active) {
  z-index : 98;
  width   : 0;
  /*transition : all 1s linear;*/
}

.view-container.loading {
  cursor : wait;
}

.view-loading-node {
  box-shadow : none !important;
}

.view-loading-node .loader-text {
  color       : var(--theme-text-color) !important;
  padding-top : 3em !important;
}

@keyframes load {
  0%, 80%, 100% {
    opacity    : .75;
    box-shadow : 0 0 var(--theme-text-color);
    height     : 2rem
  }

  40% {
    opacity    : 1;
    box-shadow : 0 -0.5rem var(--theme-text-color);
    height     : 2.5rem
  }
}

.loader-bars:before,
.loader-bars:after,
.loader-bars {
  background : var(--theme-text-color);
}

.top-nav-list .top-nav-link + .top-nav-link {
  margin-left : 5px;
}

.btn-theme {
  color            : var(--theme-text-color);
  background-color : transparent;
  border           : solid 1px transparent;
}

.btn-theme::before {
  color : var(--theme-text-color);
}

.btn-theme:hover {
  color            : var(--theme-text-color);
  background-color : transparent;
  border-color     : var(--theme-text-color);
}

.btn-theme.selected {
  background-color : var(--theme-highlight-text-color);
  border-color     : var(--theme-text-color);
}

.esri-building-explorer label {
  margin-bottom : unset;
}

#tools-panel {
  width           : calc(100% - 120px);
  margin          : 0 60px 0 60px;
  display         : flex;
  justify-content : center;
}

#tools-panel .panel {
  height                     : min-content;
  margin-right               : 10px;
  border-bottom-left-radius  : 6px;
  border-bottom-right-radius : 6px;
  background-color           : rgba(252, 252, 252, 0.3);
  box-shadow                 : none;
  transition                 : all 0.5s ease-out;
}

#tools-panel .panel:hover {
  background-color : var(--theme-background-color);;
  box-shadow       : 0 1px 2px rgba(0, 0, 0, 0.3);
  transition       : all 0.5s ease-in;
}

#display-type-switch {

}

#playback-mission-date-label {
  text-shadow : 0 1px 2px rgba(0, 0, 0, 0.3);
}

#view-spin-panel.btn-disabled {
  pointer-events : none !important;
}

#view-spin-panel div {
  vertical-align : middle !important;
}

/*.spin-btn {
  color : var(--theme-highlight-text-color);
}

.spin-btn:hover,
.spin-btn:active {
  color : var(--theme-highlight-text-color);
}*/

.spin-btn.selected {
  color       : var(--theme-highlight-text-color);
  text-shadow : 1px 2px 1px var(--theme-text-color);
}

.spin-label {
  width : 1.5em;
}

.mission-list-node {
  border-left : solid 6px transparent;
}

.mission-list-node:hover {
  background-color : var(--theme-highlight-text-color);
}

.mission-list-node.selected {
  border-left-color : var(--theme-text-color);
  background-color  : var(--theme-highlight-text-color);
}

.mission-list-node div.content-row div {
  width      : 100%;
  text-align : center;
}

.action-node {
  pointer-events : none;
  opacity        : 0.0;
  transition     : opacity 0.5s linear;
}

.mission-list-node.selected .action-node {
  pointer-events : auto;
  opacity        : 0.6;
  transition     : opacity 0.5s ease-in-out;
}

.mission-list-node.selected .action-node:hover {
  opacity    : 1.0;
  transition : opacity 0.5s ease-in-out;
}

.mission-node {
  cursor : pointer;
}

.mission-node:hover {
  background-color : var(--theme-highlight-text-color);
}

.mission-node.selected {
  color : var(--theme-text-color);
}

.mission-node.selected .select-node {
  cursor : pointer;
  color  : var(--theme-text-color);
}

.mission-node.active {
  color            : var(--theme-background-color);
  background-color : var(--theme-text-color);
}

.mission-node.active .select-node {
  color      : var(--theme-text-color);
  background : var(--theme-highlight-text-color);
}

#playback-panel {
  position : relative;
}

#play-pause-progress {
  height     : 3px;
  position   : absolute;
  top        : 0;
  left       : 15px;
  right      : 15px;
  width      : auto;
  background : var(--theme-text-color);
}

#play-pause-progress::-webkit-progress-bar {
  background : transparent;
}

#play-pause-progress::-webkit-progress-value {
  background : var(--theme-highlight-text-color);
}

#play-pause-progress::-moz-progress-bar {
  background : var(--theme-text-color);
}

.sort-option {
  padding : 0 0 4px 4px;
  margin  : 0 1px;
  border  : 1px solid var(--theme-highlight-text-color);
}

.sort-option.selected {
  color            : var(--theme-text-color);
  background-color : var(--theme-highlight-text-color);
  /*border-color     : var(--theme-text-color);*/
}

#play-pause-btn {
  padding-left  : 5px;
  padding-right : 5px;
}

#loop-btn {
  padding-left  : 4px;
  padding-right : 4px;
  border        : solid 1px var(--theme-highlight-text-color) !important;
}

#loop-btn.selected {
  border-color : var(--theme-text-color) !important;
}

#duration-labels {
  display         : flex;
  flex-direction  : row;
  justify-content : space-between;
}

input[type=range] {
  -webkit-appearance : none;
  width              : 100%;
}

input[type=range]:focus {
  outline : none;
}

input[type=range]::-webkit-slider-thumb {
  background         : var(--theme-text-color);
  -webkit-appearance : none;
}

input[type=range]:hover::-webkit-slider-thumb,
input[type=range]:focus::-webkit-slider-thumb,
input[type=range]:active::-webkit-slider-thumb {
  border-color       : var(--theme-highlight-text-color) !important;
  background         : var(--theme-text-color) !important;
  -webkit-appearance : none !important;
}

input[type=range]::-moz-range-thumb {
  background : var(--theme-text-color);
}

input[type=range]::-ms-thumb {
  background : var(--theme-text-color);
}

.toggle-switch-input[type]:hover + .toggle-switch-track:after {
  border-color : var(--theme-highlight-text-color);
}

.toggle-switch-input[type]:focus + .toggle-switch-track:after {
  border-color : var(--theme-highlight-text-color);
}

.toggle-switch-input[type]:active + .toggle-switch-track:after {
  border-color : var(--theme-text-color);
}

.toggle-switch-input[type]:checked + .toggle-switch-track {
  border-color     : var(--theme-text-color);
  background-color : var(--theme-highlight-text-color);
}

.toggle-switch-input[type]:checked + .toggle-switch-track:after {
  border-color : var(--theme-text-color);
}

.toggle-switch-input[type]:checked:active + .toggle-switch-track:after {
  border-color : var(--theme-text-color);
}

.toggle-switch-input[type]:focus + .toggle-switch-track:after {
  border-color : var(--theme-highlight-text-color);
}

.toggle-switch-input[type]:checked:focus + .toggle-switch-track {
  box-shadow : 0 0 4px 2px var(--theme-highlight-text-color);
}

.toggle-switch-input[type]:checked:focus + .toggle-switch-track:after {
  border-color : var(--theme-text-color);
}

#building-panel {
  height         : 280px;
  display        : flex;
  flex-direction : column;
}

#selector-panel {
  flex-shrink    : 1;
  flex-grow      : 1;
  min-width      : 0;
  min-height     : 0;
  display        : flex;
  flex-direction : column;
}

.accordion-icon .svg-icon {
  vertical-align : unset;
}

#flight-details-panel {
  max-height : 55vh;
  overflow-y : auto;
}
